@import url('https://fonts.googleapis.com/css2?family=Handlee&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Belanosima:wght@600&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}
html {
    scroll-behavior: smooth;
    overflow-x: hidden;
    overflow-y: scroll;
    width: 100%;
    -webkit-tap-highlight-color: transparent;
}
body {
    background-color: white;
    height: auto;
}
.banner {
    position: fixed;
    background-color: white;
    left: 50%;
    transform: translateX(-50%);
    height: 80px;
    width: 100%;
    box-shadow: 0 1px 30px black;
    z-index: 1;
}
.title {
    position: fixed;
    top: 30px;
    left: 85px;
    font-size: min(20vw,15pt);
    font-family: arial;
    letter-spacing: 0px;
    z-index: 2;
}
.logo {
    position: fixed;
    top: 10px;
    left: 10px;
    width: 60px;
    z-index: 1;
    border-radius: 50%;
    border: 1px solid gray;
}
@media screen and (max-width: 500px) {
    .logo {
      width: 60px;
    }
    .banner {
        height: 80px;
    }
    .nav {
        top: 32px !important;
    }
  }
.welcome {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    top: 200px;
    width: 90%;
    text-align: center;
    display: flex;
    flex-direction: row;
    gap: 70px;
    padding-bottom: 400px;
}
.welcome div {
    margin-top: 5px;
}
.welcome h1 {
    font-size: min(15vw, 50pt);
    font-family: 'Belanosima';
    letter-spacing: 3px;
    line-height: 60px;
}
.welcome p {
    font-size: min(4vw, 20pt);
    font-family: Arial;
}
.welcome p span { 
    font-weight: bold;
    font-family: 'Handlee';
    font-size:min(5vw, 20pt);
}
.welcome a {
    margin: 0 8px 0 8px;
    padding: 15px 20px 15px 20px;
    font-size: 14pt;
    border-radius: 7px;
    transition: 200ms;
    cursor: pointer;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: Arial;
    background-color:rgb(211, 22, 22) ;
}
.welcome a:hover {
    background-color: rgb(170, 2, 2);
}
@media screen and (max-width: 1300px) {
    .title {
      display: none;
    }
    .welcome {
        top: 100px;
        flex-direction: column;
    }
    .vl {
        display: none;
    }
    .center {
        flex-direction: column !important;
        width: 85% !important;
    }
    .center iframe {
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }
}
.nav {
    position: fixed;
    display: flex;
    gap: 2.5vw;
    top: 33px;
    right: 3%;
    user-select: none;
    z-index: 1;
}
.nav a {
    font-family: arial;
    font-size: min(3.5vw, 12pt);
    color: rgb(49, 49, 49);
    background-color: transparent;
    padding-bottom: 2px;
    transition: 200ms;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 600;
    text-decoration: none;
}
.nav a:hover {
    color: rgb(202, 52, 52);
    border-bottom: 4px solid brown ;
}
.subtitles {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
.subtitles > div > p:first-of-type {
    position: relative;
    padding-top: 110px;
    font-family: 'Handlee';
    font-weight: bold;
    color: black;
    font-size: min(12vw, 50pt);
    text-align: center;
}
.updates {
    position: relative;
    padding-bottom: 800px;
}
.gallerij {
    position: relative;
    padding-bottom: 800px;
}
.gcontainer {
    background-color: #ddd;
    height: 75vh;
    margin-top: 5px;
    border-radius: 15px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
}
.gallerij iframe {
    height: inherit;
    position: relative;
    width: 100%;
}
.contact {
    position: relative;
    padding-bottom: 500px;
}
.contact .container p:first-child {
    font-family: arial;
    font-size: min(5vw, 15pt) !important;
    text-align: center;
    margin-bottom: 40px;
}
.contact .container p:nth-of-type(2) {
    font-family: arial;
    font-size: min(5vw, 15pt) !important;
}
.contact .center {
    margin-top: 20px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 70%;
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: center;
}
.vl {
    border-left: 1px solid black;
    height: 450px;
  }
.contact iframe {
    border-radius: 15px;
    border: 0;
    width: min(85vw, 600px);
}
.contact .myUL {
    display: inline-block;
    text-align: left;
    list-style: none;
}
.myUL li{
    height: 60px;
}
.myUL li img {
    float: left;
    scale: 1.1;
}
.myUL li div {
    height: 40px;
    float: left;
    position: relative;
    top: -5px;
    line-height: 18px;
    margin-left: 10px;
    font-family: arial;
}
.myUL li div span:nth-of-type(2){
    font-size: 10pt;
    opacity: 0.6;
}
.socials {
    display: flex;
    flex-direction: row;
    gap: 20px;
    position: relative;
    top: -15px;
}
.socials a i {
    cursor: pointer;
    font-size: 35pt;
}
.socials a:nth-of-type(1) i {
    color: rgb(83, 108, 253);
}
.socials a:nth-of-type(2) i {
  font-size: 37pt;
  position: relative;
  top: -2.2px;
  padding: 1px;
  background: -moz-linear-gradient(top, #e72c83 0%, #da1bb0 100%);
  background: -webkit-linear-gradient(top, #e72c83 0%, #a742c6 100%);
  background: linear-gradient(to bottom, #e72c83 0%, #a742c6 100%);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.socials a i:before {
  display: inline;
}
.container ul:nth-of-type(2) li {
    height: 20px;
    font-family: arial;
    position: relative;
    left: 15px;
    top: 10px;
    font-weight: 200;
}
.inschrijvingen {

}